* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background: #eef3f9;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}

/* Layout */
.app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 280px;
  background: linear-gradient(180deg, #4f46e5, #4338ca);
  color: white;
  padding: 20px;
}
.dashboard-page {
  margin: 0;
  padding: 0;
}


.logo {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar ul li:hover,
.sidebar ul li.active {
  background: rgba(255,255,255,0.2);
}

/* Main */
main {
  flex: 1;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header input {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Profile */
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

/* Cards */
.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 20px;
  width: 200px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.card span {
  font-size: 28px;
  font-weight: bold;
}

.green { background: #e6fff1; }
.blue  { background: #e6f0ff; }

/* Charts */
.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}
